<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Example App</title>

  <script src="www.amcharts.com/lib/3/amcharts.js"></script> 
  <script src="www.amcharts.com/lib/3/serial.js"></script>
  <script src="www.amcharts.com/lib/3/themes/light.js"></script>
  <script src="public/amCharts.js"></script>

</head>
<body>

<div id="chartdiv"></div>

 Pui aici niste text

</body>

</html>

