<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Metro IoT</title>

  <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="http://www.amcharts.com/lib/3/serial.js"></script>
  <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/main.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
  <script src="/static/amChart.js"></script>


</head>
<body>

<div id="chartdiv"></div>

</body>

</html>

